.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.title {
    font-size: 48px;
    color: #333;
    margin-bottom: 16px;
}

.description {
    font-size: 20px;
    color: #555;
}